.wawu {
    height: 300px; 
    padding: 20px 0 20px 50px;
    margin-bottom: 20px; 
        width: 25%; 
        background-color: lightgray; 
        border-radius: 15px
}
@media (max-width: 991px) {
    .wawu {
        width: 100%;
    }
}